$mainBg: hsl(216, 12%, 8%);
$primary: hsl(25, 97%, 53%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);


*,
h1,
p {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: #ffff;
  font-size: 1.5rem;
}

p {
  line-height: 1.4rem;
  color: hsl(216, 12%, 54%);
  font-size: 15px;
}

body {
  background-color: $mainBg;
  font-family: 'Overpass', sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.4rem;
}

img {
  display: block;
}

.general {
  background-image: linear-gradient($darkBlue, hsl(206, 21%, 13%));
  max-width: 330px;
  padding: 1.5rem 1.5rem 1.75rem;
  border-radius: .5rem;
}

.rating-container {
  h1 {
    margin: 1rem 0;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .star {
    padding: .75rem;
    border-radius: 50%;
    // background-color: hsl(213, 9%, 23%);
    background-color: hsl(213, 19%, 25%);
  }

  .thank-you {
    margin: 0 auto;
  }

  button {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: .15rem;
    background-color: $primary;
    width: 100%;
    padding: .75rem .5rem;
    border: none;
    border-radius: 1.5rem;
  }

  button:hover {
    cursor: pointer;
    background-color: #ffff;
    color: $primary;
  }
}

// ratings
.ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem 0;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  color: $lightGrey;
  
  
  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: hsl(213, 19%, 25%);
    border-radius: 50%;
    // padding: 1rem;
    width: 39px;
    height: 38px;
  }
  
  .rating:hover {
    background-color: $primary;
    color: #ffff;
  }

  .rating.checked {
    background-color: $lightGrey;
    color: #ffff;
  }

  input[type=radio] {
    display: none;
  }
}


// thank you container
.thank-you-container {
  text-align: center;
  padding: 2rem 1.5rem;

  img {
    margin: 0 auto;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .selected {
    color: $primary;
    font-size: .8rem;
    letter-spacing: .075rem;
    background-color: hsl(213, 19%, 25%);
    display: inline-block;
    padding: .4rem .75rem;
    margin: 1.75rem 0;
    border-radius: 2rem;
  }
}

footer {
  color: hsl(213, 19%, 25%);
  font-size: .8rem;
  text-align: center;

  padding: .75rem;
  width: 100%;
  position: absolute;
  bottom: 0;

  a {
    text-decoration: none;
    color: hsl(25, 100%, 38%);
  }

  a:hover {
    text-decoration: underline;
  }
}

